@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sheridan Banking</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SheridanBankingTeamProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light box-shadow">
            <div class="container-fluid">
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav flex-grow-1 mx-5">
                        <li class="nav-item">
                            <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="Index">SHERIDAN <br> BANKING</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item ms-auto mt-2 d-flex align-items-center">
                                <span class="nav-link text-dark">Welcome, @User.Identity.Name!</span>
                                <form asp-controller="Home" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="nav-link text-info">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-auto mt-2">
                                <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Login">Sign In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-light bg-secondary bg-opacity-50 border-bottom box-shadow">
            <div class="container-fluid">
                <div class="navbar navbar-expand-sm w-100">
                    <ul class="navbar-nav w-100 justify-content-between mx-5">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d47a1;" asp-area="" asp-controller="Home" asp-action="Accounts">My Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d47a1;" asp-area="" asp-controller="Home" asp-action="Transfers">Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d47a1;" asp-area="" asp-controller="Home" asp-action="Goals">Goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d47a1;" asp-area="" asp-controller="Home" asp-action="Preferences">Preferences</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SheridanBankingTeamProject - Frederik, Zack & Julius
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
