bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/SheridanBankingTeamProject
bin/Debug/net8.0/SheridanBankingTeamProject.deps.json
bin/Debug/net8.0/SheridanBankingTeamProject.dll
bin/Debug/net8.0/SheridanBankingTeamProject.pdb
bin/Debug/net8.0/SheridanBankingTeamProject.runtimeconfig.json
bin/Debug/net8.0/SheridanBankingTeamProject.staticwebassets.runtime.json
obj/Debug/net8.0/apphost
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfo.cs
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfoInputs.cache
obj/Debug/net8.0/SheridanBankingTeamProject.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/SheridanBankingTeamProject.csproj.FileListAbsolute.txt
obj/Debug/net8.0/SheridanBankingTeamProject.dll
obj/Debug/net8.0/SheridanBankingTeamProject.genruntimeconfig.cache
obj/Debug/net8.0/SheridanBankingTeamProject.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/SheridanBankingTeamProject.pdb
obj/Debug/net8.0/SheridanBankingTeamProject.sourcelink.json
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/ref/SheridanBankingTeamProject.dll
obj/Debug/net8.0/refint/SheridanBankingTeamProject.dll
obj/Debug/net8.0/scopedcss/bundle/SheridanBankingTeamProject.styles.css
obj/Debug/net8.0/scopedcss/projectbundle/SheridanBankingTeamProject.bundle.scp.css
obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net8.0/staticwebassets/msbuild.build.SheridanBankingTeamProject.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.SheridanBankingTeamProject.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.SheridanBankingTeamProject.props
obj/Debug/net8.0/staticwebassets/msbuild.SheridanBankingTeamProject.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfo.cs
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfoInputs.cache
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfo.cs
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfoInputs.cache
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfo.cs
obj/Debug/net8.0/SheridanBankingTeamProject.AssemblyInfoInputs.cache
