@{
    ViewData["Title"] = "Home Page";
}


<div class='background container-fluid'>


</div>
@* <div class="content text-center text-white background">
    <h1 class="display-4">Welcome to Our Website</h1>
    <p>Discover the power of <a href="https://learn.microsoft.com/aspnet/core" class="text-white">ASP.NET Core</a> for building modern web applications.</p>
    <button class="btn btn-primary">Get Started</button>
</div> *@
