

<div class='background container-fluid'>
    <div class='card card-content'>
        <h1 class='card-title fade-in'>LOGIN</h1>
        
        <div class='card-subtitle fade-in'>
            
                <form class='form form-control'>
                    <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                </form>
        </div>
        <button class='btn btn-secondary fade-in'>
            GET STARTED
        </button>
    </div>

    <div class="card m-5 h-50 w-50">
        <div class="card-body">
            <h1 class="card-title text-center mb-5">LOGIN</h1>
            <form class="form form-control">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-secondary fade-in">Login</button>
            </form>

        </div>
    </div>

    <div class="card m-5 h-50 w-50 ms-auto">
        <div class="card-body">
            <h1 class="card-title text-center mb-5">REGISTER WITH OUR BANK</h1>
            
            <form class="form form-control">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-secondary fade-in">Register</button>
            </form>

        </div>
    </div>
</div>